odd/pez-letters.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"  xmlns:sch="http://purl.oclc.org/dsdl/schematron">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI Customization for <title>Pez Digital Edition</title></title>
            <respStmt>
               <name>Daniel Schopper</name>
               <resp>creator</resp>
            </respStmt>
         </titleStmt>
         <publicationStmt>
            <p>Publication Information</p>
         </publicationStmt>
         <sourceDesc>
            <p>Information about the source</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="pez" start="TEI">
            <moduleRef key="tei"/>
            <moduleRef key="header"/>
            <moduleRef key="core"/>
            <moduleRef key="textstructure"/>
            <moduleRef key="linking" include="seg ab anchor"/>
            <moduleRef key="namesdates"/>
            <moduleRef key="msdescription"/>
            <moduleRef key="analysis"/>
            <moduleRef key="textcrit" include="app rdg lem witDetail listWit witness"/>
            <moduleRef key="transcr" include="subst"/>
            <elementSpec ident="rs" module="core" mode="change">
               <constraintSpec ident="rs-assert-index-links" scheme="schematron">
                  <constraint>
                     <!-- Index references -->
                     <sch:rule context="tei:rs[starts-with(@key, 'index:')]">
                        <sch:let name="path-to-indexes" value="'../data/legacy_indices/'"/>
                        <sch:let name="index-files" value="for $i in (65 to 90) return doc(concat($path-to-indexes,'/',codepoints-to-string($i),'.xml')) "/>
                        <sch:assert test="substring-after(@key,'index:') = $index-files//tei:item/@xml:id">Kein Index-Eintrag für ID '<sch:value-of select="substring-after(@key,'index:')"/>' gefunden.</sch:assert>
                     </sch:rule>
                     <!-- Bibliography references -->
                     <sch:rule context="tei:rs[@type = 'bibl']">
                        <sch:let name="path-to-bibliography" value="'../data/indices/listbibl.xml'"/>
                        <sch:let name="bibliography" value="doc($path-to-bibliography)"/>
                        <sch:assert test="concat('b',substring-after(@key,'bibl:')) = $bibliography//tei:biblStruct/@xml:id">Kein Index-Eintrag für "<sch:value-of select="."/>" (ID <sch:value-of select="substring-after(@key,'bibl:')"/>) gefunden.</sch:assert>
                     </sch:rule>
                  </constraint>
               </constraintSpec>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
